html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/palewood.jpg");
  background-repeat: repeat-y;
}

#topBar {
  background-color: rgb(0, 156, 191);
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  padding: 0px;
  position: fixed;
  width: 100%;
  height: 100px;
}

#topBar #topNav li {
  display: inline-block;
  float: right;
  padding: 15px 20px 0px 10px;
  height: 35px;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}

#topBar #topNav li:hover {
  background-color: rgb(0,0,0);
}

#headerName {
  float: left;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  width: 40%;
  margin: 10px 20px 20px 10px;
}

#footerContainer {
  color: white;
  background-color: rgb(0, 70, 89);
  text-align: center;
  position: relative;
  height: 200px;
  width: 97%;
  margin: -18px 20px 0px 20px;
  padding-top: 20px;
  font-family: 'Georgia', serif;
}

.mainContainers {
  color: black;
  background-color: white;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  width: 97%;
  padding: 150px 0px 40px 0px;
  margin: 0px 20px;
}

.divider {
  text-align: center;
  padding: 100px;
  color: white;
}
